@keyframes flyIn {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
.flying-letters {
display: inline-block;
animation: flyIn 0.5s ease-in-out forwards;
opacity: 0;
}
  
.landing-image {
width: 100%;
height: 100vh; 
background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(/landing-img.jpg);
background-size: cover;
background-position: center;}

.team-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px 0;
    background: white;
}

.team-member{
    display: flex;
}

.member-image{
  border-radius: 80%;
}